@page
@model WebApplication1.Pages.ClientModel
@{
    ViewData["Title"] = "Client Page";
}
<h1>@ViewData["Title"]</h1>

 <h2>the customer number is : @Model.total</h2>  
<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Nbr Orders</th>
        <th>Rejected</th>
        <th>Pending</th>
        <th>Processing</th>
        <th>Completed</th>
 
    </tr>
    @foreach (var client in Model.listClients)
    {
        <tr>
            <td>@client.first_name</td>
            <td>@client.Last_name</td>
            <td>@client.email</td>
            <td>@client.OrderCount</td>
            <td>@client.RejectedCount</td>
            <td>@client.PendingCount</td>
            <td>@client.ProcessingCount</td>
            <td>@client.CompletedCount</td>

            <td><a class="btn btn-primary" asp-page="./Edit" asp-route-id="@client.id">Edit</a></td>
            <td><a class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@client.id">Delete</a></td>
        </tr>
    }
</table>