@page
@model WebApplication1.Pages.ProduitModel
@{
    ViewData["Title"] = "Gestion Produits";
}
<h1>Products</h1>

<form method="get" class="mt-4">
    <div class="input-group">
        <input type="text" class="form-control" id="productId" name="productId" placeholder="Search products by ID">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Brand Name</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Orders Count</th>
        <th>Quantity Order</th>
    </tr>
    @foreach (var po in Model.Products)
    {
        <tr>
            <td>@po.ProductId</td>
            <td>@po.ProductName</td>
            <td> @po.Brand.BrandName</td>
            <td>@po.Category.CategoryName</td>
            <td>
                @if (po.Quantity == 0)
                {
                    <text>Non dispo</text>
                }
                else
                {
                    @po.Quantity
                }
            </td>
            <td>
                @po.OrderItems.Count(item => item.ProductId == po.ProductId)
            </td>
            <td>
                @po.OrderItems.Sum(item => item.Quantity)
            </td>
        </tr>

    }
</table>
